@function toRem($value) {
  @return ($value / 16) * 1rem;
}

.casesProblem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: toRem(10);
  padding: toRem(70) toRem(210) toRem(70) toRem(210);
  border-bottom: 1px solid #ecebef;
  border-top: 1px solid #ecebef;

  span {
    color: #838895;
    font-size: toRem(15);
  }
  .casesProblem-title {
    width: 17%;
  }
  .casesProblem-text {
    width: 75%;
  }
}

@media all and (max-width: 605px) {
  .casesProblem {
    flex-direction: column;
    gap: toRem(20);
    padding: toRem(70) toRem(110) toRem(60) toRem(110);

    .casesProblem-title {
      width: 100%;
    }
    .casesProblem-text {
      width: 100%;
    }
  }
}

@media all and (max-width: 499px) {
  .casesProblem {
    padding: toRem(70) toRem(40) toRem(60) toRem(40);
  }
}

@media all and (max-width: 375px) {
  .casesProblem {
    padding: toRem(70) toRem(30) toRem(60) toRem(30);
  }
}
