.HowWeWork {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  margin: 0 auto;
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    h1 {
      font-size: 68px;
      max-width: 50vw;
      font-weight: 700;
      line-height: 1.2;
    }
    a{
      border: 1 solid #cdcdcd;
      border-radius: 10px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .works{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .work{
      border: 1px solid #cdcdcd;
      flex: 1 1 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding: 50px;
      transition: .4s;
      &:hover{
        border: none;
        box-shadow: 0 0 20px #7e7e7e87;
      }
      .text{
        display: flex;
        flex-direction: column;
        span{
          color: #7e7e7e;
        }
        p{
          font-weight: 700;
          font-size: 24px;
          line-height: 1.2;
        }
      }
    }
  }
}
