@function toRem($px) {
  @return calc($px / 16) * 1rem;
}

// Определение брейкпоинтов
$breakpoint-xl: 1280px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

.swiper-wrapper {
  display: none;
}

.CasesSlider {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  margin: toRem(200) auto;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titles {
      flex: 1;

      .title {
        font-size: toRem(68);
        line-height: 1.2;
        font-weight: 700;
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: red;

      span {
        word-break: break-word;
      }
    }
  }

  .slider {
    width: calc(100vw - 15vw);
    margin-left: auto;
    overflow: hidden;

    .slide {
      width: toRem(535);
      display: flex;
      flex-direction: column;
      align-items: center;

      .tags {
        width: 100%;
        height: toRem(320);
        background-size: cover;
        background-position: center;
        display: flex;
        gap: toRem(10);
        border-radius: toRem(15);
        padding: toRem(5) toRem(20);
      }

      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: toRem(8);
        width: toRem(144);
        height: toRem(40);
        background: #41414166;
        border-radius: toRem(8);
        color: white;
        font-size: toRem(18);
        font-weight: 500;
        padding: toRem(8) toRem(12);
      }

      .social {
        display: flex;
        gap: toRem(20);
        margin: toRem(25) 0 toRem(20);

        div {
          flex-shrink: 1;
          display: flex;
          align-items: center;
          color: #838895;
          padding: toRem(10) toRem(15);
          gap: toRem(8);
          border: 1.5px solid #d1d7e2;
          border-radius: toRem(8);
          background: #ffffff;
          font-size: toRem(16);
          font-weight: 500;
        }
      }

      .caseInfo {
        padding: toRem(20);

        h3 {
          font-weight: 700;
          font-size: toRem(28);
        }

        .box {
          width: toRem(10);
          height: toRem(10);
          background-color: #bcbcbc;
          margin-right: toRem(15);
          display: inline-block;
        }

        p {
          display: inline;
          color: #838895;
          margin-right: toRem(15);
        }
      }
    }
  }
}

// Адаптивность
@media (max-width: $breakpoint-xl) {
  .CasesSlider {
    margin: 100px auto;

    .info .titles .title {
      font-size: 46px;
    }

    .slider {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }



    .slider .slide .social {
      margin-top: 20px;
      gap: 15px;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .CasesSlider {
    margin: toRem(150) auto;

    .info .titles .title {
      font-size: toRem(37);
    }
  }

  .social {
    // flex-wrap: wrap;
    gap: 20 !important;
    margin-top: 20 !important;
    margin-bottom: 0 !important;
  }
}

@media (max-width: $breakpoint-md) {
  .CasesSlider {
    margin: toRem(100) auto;

    .info .titles .title {
      font-size: toRem(36);
    }

  }
  .caseInfo {
    padding: 20px;
    h3 {
      font-weight: 700;
      font-size: 28px;
    }
    .box {
      width: 10px;
      height: 10px;
      background-color: #bcbcbc;
      margin-right: 15px;
      display: inline-block;
    }
    p {
      display: inline;
      color: #838895;
      margin-right: 15px;
    }
  }
  .tag{
    margin: 5px;
    display: flex;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 144px;
    height: 40px;
    background: #41414166;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 12px;
  }
  .tags{
    display: flex;
    gap: 15px;
    background-position: center;
    justify-content: space-between;
  }
  .social{
    display: flex;
    justify-content: space-between;
    div{
       
      display: flex;
      align-items: center;
      color: #838895;
      padding: 10px 15px;
      gap: 8px;
      border: 1.5px solid #D1D7E2;
      border-radius: 8px;
      background: #ffffff;
      font-size: 12px;
      margin-top: 20px;
      font-weight: 500;
    }
  }
  .caseInfo{
    h3{
      font-weight: 300;
      font-size: 20px !important;
    }
  }
}

@media (max-width: $breakpoint-sm) {
   .CasesSlider {
    flex-direction: column;
    .info .titles .title {
      font-size: 28px;
    }
  }
  .swiper-wrapper {
    position: static !important;
    width: auto !important;
    height: auto !important;
    z-index: initial !important;
    display: none !important;
    transition: none !important;
    box-sizing: border-box !important;
  }
   .caseInfo {
        padding: 20px;
        h3 {
          font-weight: 700;
          font-size: 28px;
        }
        .box {
          width: 10px;
          height: 10px;
          background-color: #bcbcbc;
          margin-right: 15px;
          display: inline-block;
        }
        p {
          display: inline;
          color: #838895;
          margin-right: 15px;
        }
      }
      .tag{
        margin: 5px;
        display: flex;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 144px;
        height: 40px;
        background: #41414166;
        border-radius: 8px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        padding: 8px 12px;
      }
      .tags{
        display: flex;
        gap: 15px;
        background-position: center;
        justify-content: space-between;
      }
      .social{
        display: flex;
        justify-content: space-between;
        div{
           
          display: flex;
          align-items: center;
          color: #838895;
          padding: 10px 15px;
          gap: 8px;
          border: 1.5px solid #D1D7E2;
          border-radius: 8px;
          background: #ffffff;
          font-size: 12px;
          margin-top: 20px;
          font-weight: 500;
        }
      }
      .caseInfo{
        h3{
          font-weight: 300;
          font-size: 20px !important;
        }
      }
}

