@function toRem($value) {
  @return ($value / 16) * 1rem;
}

.container {
  text-align: center;
  padding: toRem(40);
  width: 100%;
  background-color: #fff;
}

.TitleBlog {
  width: 100%;
  max-width: toRem(1328);
  margin: 0 auto;
  padding: 0 toRem(20);
}

.subtitle {
  font-size: toRem(24);
  color: #838895;
  font-weight: 500;
  text-transform: uppercase;
}

.title {
  font-size: toRem(68);
  font-weight: 700;
  margin: toRem(10) 0;
  color: #2A2D35;
}

.description {
  font-size: toRem(24);
  color: #838895;
  max-width: toRem(710);
  margin: 0 auto toRem(20);
}

/* === Карусель === */
.carouselWrapper {
  overflow: hidden;
  width: 100%;
  max-width: toRem(1328);
  margin: 0 auto;
}

.carousel {
  display: flex;
  gap: toRem(10);
  will-change: transform;
}

.slide {
  flex: 0 0 auto;
  width: 25%;
  min-width: toRem(300);
  transition: transform 0.5s ease-out;

  img {
    width: 100%;
    height: auto;
    border-radius: toRem(12);
  }
}

/* === Адаптивность === */
@media (max-width: 1024px) {
  .slide {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: toRem(42);
    text-align: left;
  }

  .description {
    font-size: toRem(18);
    max-width: 100%;
    text-align: left;
  }

  .carousel {
    gap: toRem(10);
  }

  .slide {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: toRem(15);
  }

  .title {
    font-size: toRem(32);
    text-align: left;
    line-height: toRem(35);
  }

  .subtitle {
    font-size: toRem(16);
    text-align: left;
  }

  .description {
    font-size: toRem(16);
    text-align: left;
  }

  .carousel {
    gap: toRem(5);
  }

  .slide {
    width: 85%;
  }
}
