.CasesSlider {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  margin: 200px auto;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titles {
      flex: 1;
      .subtitle {
        color: #838895;
        font-size: 24px;
      }
      .title {
        font-size: 68px;
        line-height: 1.2;
        font-weight: 700;
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: red;

      span {
        word-break: break-word;
      }
    }
  }

  .slider {
    width: calc(100vw - 15vw); // 100vw минус левый отступ (70vw / 2 = 35vw -> 100vw - 35vw = 65vw)
    margin-left: auto; // Прижимает правый край слайдера к правому краю экрана
    height: auto;
    overflow: hidden;

    .slide {
      flex-shrink: 0;
      width: 300px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
