.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;

  .buttons {
    display: flex;
    gap: 10px;

    button {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background: #ffffff;
      color: #000;
      transition: 0.3s;
    }

    button.active {
      background: #333;
      color: #fff;
    }
  }
  .map {
    width: 90%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
}
