@function toRem($px) {
  @return calc($px / 16)*1rem;
}

@function px-to-vw($px, $base-width: 1920px,$max-value: null, $min-value: null) {
  $vw-value: calc(($px / $base-width) * 100vw);

  @if $min-value != null and $max-value != null {
    @return clamp($min-value, $vw-value, $max-value);
  } @else if $min-value != null {
    @return max($min-value, $vw-value);
  } @else if $max-value != null {
    @return min($vw-value, $max-value);
  } @else {
    @return $vw-value;
  }
}

@function px-to-vh($px, $base-height: 900px,  $max-value: null, $min-value: null) {
  $vh-value: calc(($px / $base-height) * 100vh);

  @if $min-value != null and $max-value != null {
    @return clamp($min-value, $vh-value, $max-value);
  } @else if $min-value != null {
    @return max($min-value, $vh-value);
  } @else if $max-value != null {
    @return min($vh-value, $max-value);
  } @else {
    @return $vh-value;
  }
}


body {
  font-family: 'Cannonade', sans-serif;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  border-radius: px-to-vw(10px);
  flex-direction: column;
  background-size: cover;
}

.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: toRem(1328);
  gap:toRem(100);
  min-height: px-to-vh(593px);
  margin: px-to-vh(150px) 0;
  padding: 0 toRem(15);

  @media all and (max-width:1328px) {
    max-width: 1200px;
    gap:toRem(20);
    gap:toRem(20);
  }

  @media all and (max-width:1246px) {
    max-width: 1024px;
    gap:toRem(15);
   
  }


  @media all and (max-width:1024px) {
    max-width: 768px;
    gap:toRem(15);
    flex-direction: column;
  }

  @media all and (max-width:768px) {
    max-width: 375px;
    gap:toRem(5);
   
  }




}

.swiperSl {
  display: flex;
  justify-content: center;
}

.reviewCard {
  max-width: toRem(480);

}

.textSection {
  flex-grow: 1;
  flex-basis: toRem(654);
  flex-shrink: 1;
  width: 100%;
  max-width: toRem(535);

  @media all and (max-width:1024px) {
    flex-basis: auto;
  }
  
  h2 {
    text-align: center;
    font-size: px-to-vw(68px,1920px,68px,32px);
    font-weight: 700;
    color: #333;
    margin-bottom: px-to-vh(10px);

@media all and (max-width:480px) {
  text-align: left;
}
  }
  
  p {
    text-align: center;
    font-size: px-to-vw(24px,1920px,24px,18px);
    line-height: toRem(33.6);
    font-weight: 500;
    color: #777;
    line-height: 1.6;
    max-width: toRem(520);
    line-height: toRem(33.6);
    @media all and (max-width:480px) {
      text-align: left;
      max-width: toRem(335);
    }

  }
}



.sliderSection {
  flex: 1;
  max-width:toRem(674);
  position: relative;
}

.reviewCard {
  position: relative;
  min-height: toRem(593);
  background: #fff;
  border-radius: px-to-vw(32px);
  padding: px-to-vw(20px);
  box-shadow: 0px 0px px-to-vw(24px) rgba(109, 117, 138, 0.16);

  @media all and (max-width:900px) {
    min-height: 100%;
    max-height: toRem(482);
    margin-bottom: toRem(100);
  }

  @media all and (max-width:674px) {
    max-width: toRem(335);
  }

  .stars {
    display: flex;
    width: px-to-vw(200px);
    gap:toRem(6);
    color: #ffc107;
    margin-bottom: px-to-vh(30px);
    img {
      width: toRem(40);
      height: toRem(40);
    }
  }

  .text {
    gap:20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
p {
  color:#838895;
}
  }

  .readMore {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 149px;
  min-height: 56px;
  color:#FF2B44;
  
}

.blog_header {
  display: flex;
  align-items: center;
  gap:px-to-vw(16px);
  margin-bottom: px-to-vw(30px);
  


  @media all and (max-width:480px) {
    gap:toRem(30);
    
  }

  img {

      align-self: flex-start;
 
  }

  .bog_info {
    .name {
      font-size: toRem(28);
      font-weight: bold;
      line-height: toRem(33.6);
    }
    .position {
      font-size: toRem(18);
      line-height: toRem(27);
    }
  }
}

}

.customNavigation {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  @media all and (max-width:674px) {
    top:550px;
    right: -261.5px;
  }

  .swiper-button-prev {
    position: relative;
    width:64px;
    height:64px;
    background-color:#F1F3F7;
    border-radius:16px;
     right: 1px;
    z-index:10;

    @media all and (max-width:674px) {
      right: 0;
    }

    img {
      position: absolute;
      line-height: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .swiper-button-next {
    position: relative;
    width:64px;
    height:64px;
    background-color:#F1F3F7;
    border-radius:16px;
    left:546px;
    z-index:10;

    @media all and (max-width:674px) {
      left: 16px;
    }

    img {
      position: absolute;
      line-height: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}



