@function toRem($value) {
  @return ($value / 16) * 1rem;
}

.challenges {
  position: relative;
  padding: toRem(150) 0;

  .container {
    width: 100%;
    max-width: toRem(1328);
    margin: 0 auto;

    @media all and (max-width: 1310px) {
      max-width: toRem(1200);
    }

    @media all and (max-width: 1200px) {
      max-width: toRem(1024);
    }

    @media all and (max-width: 1024px) {
      max-width: toRem(768);
    }

    @media all and (max-width: 768px) {
      max-width: toRem(480);
    }

    @media all and (max-width: 480px) {
      max-width: toRem(335);
    }
  }

  &__title {
    font-size: toRem(68);
    font-weight: 700;
    text-align: center;
    max-width: toRem(1328);
    margin-bottom: toRem(64);
    @media all and (max-width: 1310px) {
      max-width: toRem(1200);
      font-size: toRem(50);
    }

    @media all and (max-width: 1200px) {
      max-width: toRem(1024);
      font-size: toRem(45);
    }

    @media all and (max-width: 1024px) {
      max-width: toRem(768);
      font-size: toRem(40);
    }

    @media all and (max-width: 768px) {
      max-width: toRem(480);
      font-size: toRem(35);
      line-height: toRem(35.2);
    }

    @media all and (max-width: 480px) {
      max-width: toRem(335);
      font-size: toRem(32);
    }
  }
  &__cards {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: toRem(40);

    background-image: url("../../../public/challenges/bg_vector.png");
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: 80%;
  }

  &__card {
    position: relative;
    z-index: 10;
    max-width: toRem(421);
    max-height: toRem(382);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: toRem(16);

    border: toRem(1.5) solid #d1d7e2;
    border-radius: toRem(32);
    padding: toRem(20);
    cursor: pointer;
    transition: all 0.1s;

    @media all and (max-width: 480px) {
      max-height: toRem(375);
      min-width: toRem(335);
    }
    &:hover {
      background: #fff;
      box-shadow: 0 0 toRem(32) 0 #6d758a2e;
      border: toRem(1.5) solid #fff;

      .challenges__RightCircle {
        border: toRem(8) solid #fafafc;
        @media all and (max-width: 1310px) {
          display: none;
        }
      }
      .challenges__LeftCircle {
        border: toRem(8) solid #fafafc;
        @media all and (max-width: 1310px) {
          display: none;
        }
      }
    }
  }
  &__cardIcon {
    display: flex;
    justify-content: center;
    img {
      width: toRem(48);
      height: toRem(48);
    }
  }
  &__cardTitle {
    font-size: toRem(28);
    font-weight: 700;
    @media all and (max-width: 1024px) {
      font-size: toRem(26);
      line-height: toRem(28.8);
    }
    @media all and (max-width: 480px) {
      font-size: toRem(24);
      max-width: toRem(287);
      line-height: toRem(28.8);
      text-align: center;
    }
  }
  &__cardDescription {
    font-weight: 500;
    color: #6d758a;
    line-height: toRem(24);
    @media all and (max-width: 480px) {
      max-width: toRem(287);
    }
  }

  &__RightCircle {
    position: absolute;
    top: 50%;
    right: toRem(-16);
    width: toRem(32);
    height: toRem(32);
    border-radius: 50%;
    background: #a8b0bb;
    border: toRem(8) solid #fff;
    z-index: 10;
    @media all and (max-width: 1310px) {
      display: none;
    }
  }
  &__LeftCircle {
    position: absolute;
    top: 50%;
    left: toRem(-16);
    width: toRem(32);
    height: toRem(32);
    border-radius: 50%;
    background: #a8b0bb;
    border: toRem(8) solid #fff;
    z-index: 10;
    @media all and (max-width: 1310px) {
      display: none;
    }
  }

  // ========================

  &__col1 {
    display: flex;
    justify-content: center;
    gap: toRem(220);

    @media screen and (max-width: 1310px) {
      gap: toRem(50);
    }
    @media all and (max-width: 1024px) {
      gap: toRem(20);
    }

    @media all and (max-width: 768px) {
      flex-direction: column;
    }
    @media all and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .challenges__card {
      &:first-child::after {
        content: "";
        position: absolute;
        top: 54%;
        right: toRem(-110);
        width: toRem(110);
        height: toRem(425);
        background-image: url("../../../public/challenges/vector_1.png");
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        @media all and (max-width: 1310px) {
          background-image: none;
        }
      }
      &:last-child::before {
        content: "";
        position: absolute;
        top: 54%;
        left: toRem(-110);
        width: toRem(110);
        height: toRem(425);
        background-image: url("../../../public/challenges/vector_2.png");
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        @media all and (max-width: 1310px) {
          background-image: none;
          max-width: toRem(1024);
        }
      }
    }
  }
  &__col2 {
    display: flex;
    justify-content: space-between;
    padding: 0 toRem(24);
    @media screen and (max-width: 1310px) {
      gap: toRem(50);
      justify-content: center;
    }

    @media all and (max-width: 1024px) {
      gap: toRem(20);
    }
    @media all and (max-width: 768px) {
      flex-direction: column;
    }
    @media all and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    .challenges__card {
      &:first-child::after {
        content: "";
        position: absolute;
        top: 54%;
        left: toRem(420);
        width: toRem(438);
        height: toRem(5);
        background-image: url("../../../public/challenges/vector_3.png");
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        @media all and (max-width: 1310px) {
          background-image: none;
        }
      }
    }
  }
  &__col3 {
    display: flex;
    justify-content: center;
    gap: toRem(220);
    @media screen and (max-width: 1310px) {
      gap: toRem(50);
    }
    @media all and (max-width: 1024px) {
      gap: toRem(20);
    }
    @media all and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    .challenges__card {
      &:first-child::after {
        content: "";
        position: absolute;
        bottom: 45%;
        right: toRem(-110);
        width: toRem(110);
        height: toRem(425);
        background-image: url("../../../public/challenges/vector_4.png");
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        @media all and (max-width: 1310px) {
          background-image: none;
        }
      }
      &:last-child::before {
        content: "";
        position: absolute;
        bottom: 45%;
        left: toRem(-110);
        width: toRem(110);
        height: toRem(425);
        background-image: url("../../../public/challenges/vector_5.png");
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        @media all and (max-width: 1310px) {
          background-image: none;
        }
      }
    }
  }
}

// @media screen and (max-width: 1200px) {
//   .challenges {
//     &__title {
//       font-size: toRem(52);
//     }
//     &__cards {
//       background-image: none;
//     }
//     &__col1 {
//       gap: toRem(50);
//       padding: 0 toRem(24);

//       .challenges__card {
//         &:first-child::after {
//           background-image: none;
//         }
//         &:last-child::before {
//           background-image: none;
//         }
//       }
//     }
//     &__col2 {
//       display: flex;
//       justify-content: center;
//       gap: toRem(50);
//       .challenges__card {
//         &:first-child::after {
//           background-image: none;
//         }
//       }
//     }
//     &__col3 {
//       gap: toRem(50);
//       padding: 0 toRem(24);

//       .challenges__card {
//         &:first-child::after {
//           background-image: none;
//         }
//         &:last-child::before {
//           background-image: none;
//         }
//       }
//     }
//     &__RightCircle {
//       display: none;
//     }
//     &__LeftCircle {
//       display: none;
//     }
//   }
// }
// @media screen and (max-width: 900px) {
//   .challenges {
//     &__card {
//       width: toRem(400);
//       height: toRem(372);
//     }
//     &__title {
//       font-size: toRem(52);
//     }

//     &__col1 {
//       gap: toRem(32);
//       flex-direction: column;
//       align-items: center;
//     }
//     &__col2 {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       gap: toRem(32);
//     }
//     &__col3 {
//       gap: toRem(32);
//       flex-direction: column;
//       align-items: center;
//     }
//   }
// }
// @media screen and (max-width: 500px) {
//   .challenges {
//     &__card {
//       width: toRem(335);
//       height: toRem(351);
//     }
//     &__title {
//       font-size: toRem(32);
//     }
//     &__cardTitle {
//       font-size: toRem(24);
//     }
//   }
// }
